.App {
  text-align: center;
    background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

select{
  padding: 5px;
  width: 300px;
  margin-bottom: 50px;
  border: 5px solid teal;
  outline: none;
}
